*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}

.offcanvas{
    width: 35%;
}

@font-face {
    font-family: 'Segoe UI';
    src: url(/Segoe-UI-Font/SEGOEUI.TTF);
}

#a1{
    width: 100%;
    text-decoration: none;
    color: black;
}

#a1:hover{
    opacity: 0.5;
}

header{
    height: 13vh;
}

.head1 img{
    height: 50px;
}

.head1 p{
    transition-duration: 0.5s;
}

.head1 p:hover{
    border-bottom: 1px solid black;
}

#txt1{
    font-size: 300px;
    opacity: 0.1;
    font-weight: lighter;
}

#col1{
    border: 1px solid #c6c0c0;
    transition-duration: 0.5s;
}

#col1:hover{
    background-color: black;
}

#col1:hover p{
    color: white;
}

#col1:hover a{
    color: white;
}


#col1 a{
    color: black;
}

#img1{
    height: 130px;
}

footer{
    background-color: #232323;
}